
/* -------------------------------------------------------------------- */
/* ----------- CSS STYLE SHEET FOR NICOLES PERSONAL WEBSITE ----------- */
/* -------------------------------------------------------------------- */


/* --------------------------- DOCUMENT BODY -------------------------- */ 

/* Font and weight */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

/* Text size and line spacing */
p {
  font-size: 18px;
  line-height: 1.35;
}

/* Accent colors, sizes, and padding */
i {
  color: #f2d7d5;
  font-size: 45px;
  padding-left: 5px;
}

/* Font size and line spacing for list items */
li {
  font-size: 18px;
  line-height: 1.35;
}

table {
  font-size: 18px;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid rgba(0, 0, 0, .2);
}

td {
  padding: 15px;
}

tr.last {
  border-bottom: none;
}

hr {
  border: 5px dotted;
  border-style: none none dotted; 
  opacity: 50%;
  z-index: 500;
}

p a {
  color: #2980B9;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
  color: #1F618D;
}

mark {
  background-color: #f2d7d5;
}

#main-container {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
}

/* ------------------------ TOP NAVIGATION BAR ------------------------ */ 

/* Adding background color */
/*.topnav {
  background-color: #F2D7D5;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 300px;
  margin-right: 0;
  z-index: 550;
}*/

/* Style the links inside the navigation bar */
/*.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}*/

/* Change the color of links on hover */
/*.topnav a:hover {
  background-color: #E6B0AA;
  color: black;
}*/

/* Add a color to the active/current link */
/*.topnav a.active {
  background-color: #E6B0AA;
  color: black;
}*/

header {
  background-color: #F2D7D5;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 550;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
  margin-right: 300px;
  padding-top: 25px;
}

/*nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}*/

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav a:hover {
  background-color: #E6B0AA;
}


nav li:hover {
  background-color: #E6B0AA;
}

.logo {
  float: left;
  padding: 10px 0;
  margin-left: 300px;
}



/* ----------------------------- DIVIDERS ----------------------------- */

.divider {
  max-width: 800px;
  margin: 1rem auto;
  padding-bottom: 50px;
}

#top-divider {
  max-width: 800px;
  margin: 1rem auto;
  padding-top: 100px;
}

/* --------------------- PROFILE AND INTRO IMAGES --------------------- */ 

/* Style the website header (profile image and intro image) */
.header {
  padding-top: 50px;
  padding-right: 300px;
  padding-bottom: 25px;
  padding-left: 300px;

}

.sub-header {
  padding-top: 100px;
  padding-right: 300px;
  padding-bottom: 25px;
  padding-left: 300px;
}

/* Curved edges and shadow for profile photo */
.profile {
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Flex display to place images side by side */
#parent {
  display: flex;
}

/* Profile photo div sizing */
#profile-photo {
  width:250px;
  float:left;
}

/* Right div */
#intro {
  flex: 1;
  padding-left: 50px;
}

/* Intro photo padding */
#introphoto {
  padding-bottom: 23px;
}

/* Inline arrangment of icons */
.child {
  display: inline-block;
  padding-right: 10px;
}

.test {
  display: inline-block;
  float: right;
  margin-top: 50px;
}

/* Color changing icons on hover */
.fa-envelope:hover {
    color: #E6B0AA;
}


.fa-linkedin:hover {
    color: #E6B0AA;
}

.fa-graduation-cap:hover {
    color: #E6B0AA;
}

.fa-github:hover {
    color: #E6B0AA;
}

.fa-instagram:hover {
    color: #E6B0AA;
}

.fa-file-pdf:hover {
    color: #E6B0AA;
}


/* ---------------------- INFORMATION SECTIONS ---------------------- */ 

/* Div padding */
.text {
/*  padding-left: 300px;
  padding-right: 300px;*/
  margin-left: 23%;
  margin-right: 23%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.center-txt {
  text-align: center;
}

.smaller {
  font-size: 15px;
}

/* -------------------------- PROJECT CARDS ------------------------- */ 

.vert-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  font-size: 15px;
  display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.vert-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* ---------------------------- CV CARDS ---------------------------- */ 

/* Div padding */
.card {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
  border-radius: 5px;
/*  margin-left: 300px;
  margin-right: 300px;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
}

.card-header {
  font-size: 25px;
}

.date {
  width: 18%;
  align: right;
  vertical-align: top;
}

.small-tag {
  border-radius: 5px;
  background-color: #F2D7D5;
  width: 100%;
  text-align: center;
  /*margin-right: 10px;
  padding-left: 15px;*/
}

.right-column {
  line-height: 1.5;
}

/* -------------------------- CONTACT FORM -------------------------- */ 

/*.contact-box {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

form {
  margin: 35px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.btn {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
}*/


form {
/*  background: #f2d7d5;*/
/*  background: #D6DBDF;*/
  background: #EBEDEF;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin-left: 300px;
  margin-bottom: 50px;
}

form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea {
  border: 5px solid #f2d7d5;
  margin: 0px 0px 20px;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}

form input:focus, form textarea:focus {
  outline: none !important;
  border: 5px solid #D98880;
}

form button {
  padding: 15px;
/*  background: #ff5361;*/
  background: #D98880;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

form button:hover {
  background: #CD6155;
}

input {
  border-radius: 10px;
}

.thicker {
  font-weight: 500;
}

/* ---------------------- BOTTOM COPYRIGHT BAR ---------------------- */ 

.footer {
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
/*  padding-left: 300px;*/
/*  letter-spacing: 1.5px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

#copyright {
  font-size: 11px;
  line-height: 0.5;
}


